html {
	height: 100%;
}

body {
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.1;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #D9E5FF;
	background: #0A0F2B;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:visited {
	color: #ffc000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

header {
	text-align: center;
	border-bottom: 8px solid #E02828;
}

.eventpage main {
	padding: 1rem;
	display: grid;
	min-height: 100%;
	grid-template-columns: minmax(200px, 400px) minmax(600px, 1fr);
	grid-column-gap: 4em;
}

.homepage main {
	padding: 2rem 4rem;
}

.eventpage footer {
	grid-row-start: 2;
	grid-row-end: 3;
}

footer {
	border-top: 2px solid #E02828;
	padding: 1rem;
}

@media (max-width: 25em) {
	main {
		grid-template-columns: auto;
	}
}
